@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
	font-family: 'Noto Sans', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.font-24-32 {
	font-size: 24px;
	line-height: 32px;
}

.font-16-24 {
	font-size: 16px;
	line-height: 24px;
}

.bb {
	border-bottom: solid 1px #c4c4c4;
}

.header {
	height: 64px;
	padding: 16px 24px;
	overflow: hidden;
}

	.header h1 {
		color: #444444;
		display: inline;
		font-weight: 700;
		letter-spacing: 2px;
	}

	.header i {
		color: #444444;
		width: 24px;
		margin-right: 8px;
		text-align: center;
	}

	.header i:last-child {
		margin-right: 0px;
	}

.row {
	display: block;
	height: calc(100% - (64px + 72px));
	width: 100%;
	padding: 16px 24px;
}

.table-content {
	max-height: calc(100% - 48px);
	width: 100%;
	overflow: auto;
}

table {
	border-collapse: collapse;
	color: #444444;
	width: 100%;
	overflow: scroll;
}

table thead tr th {
	padding: 12px 0px;
	text-align: left;
	font-weight: 700;
}

table tbody tr td {
	height: 40px;
	padding: 8px 0px;
	text-align: left;
}

table tbody tr:nth-child(2n-1) {
	background-color: #f9f8ff;
}

table tbody tr td:first-child {
	text-align: center;
}

.footer	{
	display: block;
	height: 72px;
	padding: 16px 24px;
}

button {
	display: inline-block;
	color: #444444;
	height: 40px;
	border-radius: 20px;
	border: 0px;
	cursor: pointer;
	outline: none;
	font-size: 14px;
	padding: 0px 24px;
	background-color: transparent;
	transition: all ease-in-out 500ms;
}

	button:hover {
		background-color: #f9f8ff;
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
	}