:root {
	--size-height: 640px;
	--size-width: 360px;
	--size-statusBar: 24px;
	--size-appBar: 48px;

	--dimen-unit: 4px;
	--dimen-system-container-sides: 4px;
	--dimen-app-container-sides: 16px;

	--color-primary:#000;
	--color-secondary:#000;
	--color-accent:#000;

	--color-light: #FAFAFA;
	--color-light-hex: #FAFAFA;
	--color-light-rgb: rgb(250, 250, 250);
	--color-light-rgba-25: rgba(250, 250, 250, 0.25);
	--color-light-rgba-50: rgba(250, 250, 250, 0.50);
	--color-light-rgba-75: rgba(250, 250, 250, 0.75);

	--color-dark: #282C34;
	--color-dark-hex: #282C34;
	--color-dark-rgb: rgb(40, 44, 52);
	--color-dark-rgba-25: rgba(40, 44, 52, 0.25);
	--color-dark-rgba-50: rgba(40, 44, 52, 0.50);
	--color-dark-rgba-75: rgba(40, 44, 52, 0.75);
}

/*Generals*/
.system {
	position: relative;
	font-family: 'Roboto', sans-serif;
	height: var(--size-height);
	width: var(--size-width);
	overflow: hidden;
}

.screen {
	position: absolute;
}

.filter,
.over {
	position: relative;
}	

.blur {
	backdrop-filter: blur(calc(var(--dimen-unit) * 2));
}

.ofh {
	overflow: hidden;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

/*Sizes*/
.fs {
	height: 100%;
	width: 100%;
}

.fw { width: 100%; }
.fh { height: 100%; }
.mw { width: 50%; }
.mh { height: 50%; }

/*Visibility*/
.visible {
	display: block !important;
}

.no-visible {
	display: none !important;
}

/*Colors and coverage*/
.text-dark {
	color: var(--color-dark);;
}

.text-light {
	color: var(--color-light);
}

.bg-light {
	background-color: var(--color-light);;
}

.bg-light-25 {
	background-color: var(--color-light-rgba-25);
}

.bg-light-50 {
	background-color: var(--color-light-rgba-50);
}

.bg-light-75 {
	background-color: var(--color-light-rgba-75);
}

.bg-dark {
	background-color: var(--color-dark);
}

.bg-dark-25 {
	background-color: var(--color-dark-rgba-25);
}

.bg-dark-50 {
	background-color: var(--color-dark-rgba-50);
}

.bg-dark-75 {
	background-color: var(--color-dark-rgba-75);
}

/*Containers*/
.system-container {
	height: 100%;
	width: 100%;
	padding-left: calc(var(--dimen-unit) * 3);
	padding-right: calc(var(--dimen-unit) * 3);
}

.app-container {
	height: 100%;
	width: 100%;
	padding-left: calc(var(--dimen-unit) * 4);
	padding-right: calc(var(--dimen-unit) * 4);
}

/*Fonts*/
.font-light {
	font-weight: 300;
}

.font-regular {
	font-weight: 400;
}

.font-semibold {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.font-bolder {
	font-weight: 900;
}

.txt-lvl-1 {
	font-size: calc(var(--dimen-unit) * 6);
}

.txt-lvl-2 {
	font-size: calc(var(--dimen-unit) * 5);
}

.txt-lvl-3 {
	font-size: calc(var(--dimen-unit) * 4);
}

.txt-gnral {
	font-size: calc(var(--dimen-unit) * 3);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*Icons*/
.icon {
	display: inline-block;
}

	.icon span {
		display: block;
		width: 100%;
		height: 100%;
		line-height: inherit;
	}

/*Components*/
.launcher {
	top: 0;
	background-image: url("./../src/backgrounds/001.jpg"); 
	background-color: var(--color-dark);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.appBar {
	top: var(--size-statusBar);
	height: var(--size-appBar);
}

.statusBar {
	top: 0;
	height: var(--size-statusBar);
	padding-top: var(--dimen-unit);
	padding-bottom: var(--dimen-unit);
}

	.statusBar .icon {
		height: 16px;
		width: 16px;
		text-align: center;
		line-height: 16px;
		margin-left: var(--dimen-unit);
	}

	.statusBar .icon.brand,
	.statusBar .icon.time {
		width: auto;
	}

	.statusBar .icon:first-child {
		margin-left: 0px;
	}


.lockScreen {
	top: 0;
	background-image: url("./../src/backgrounds/002.jpg"); 
	background-color: var(--color-dark);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.lockScreenInner {
		padding-top: calc(var(--size-statusBar) + var(--size-appBar));
	}

	.lockScreen .indicatorLock {
		height: 32px;
		width: 32px;
		font-size: 16px;
		line-height: 32px;
	}

	.lockScreen .indicatorDay {
		font-size: 16px;
		line-height: 24px;
		height: 24px;
	}

	.lockScreen .indicatorClock {
		font-size: 48px;
		line-height: 56px;
	}

	.lockScreen .indicatorDate {
		font-size: 16px;
		line-height: 24px;
	}

	.lockScreen .notificationsSection {
		margin-top: calc(var(--dimen-unit) * 4);
		min-height: 64px;
		max-height: 320px;
	}

	.lockScreen .indicatorUnlockMethod {
		position: absolute;
		bottom: 32px;
		cursor: pointer;
		left: calc(50% - 24px);
		height: 48px;
		width: 48px;
		font-size: 24px;
		line-height: 48px;
	}

	.lockScreen .indicatorInstruction {
		position: absolute;
		bottom: 16px;
		left: calc(50% - 125px);
		font-size: 12px;
		line-height: 16px;
		height: 16px;
		width: 250px;
	}

.notify {
	padding-top: calc(var(--dimen-unit) * 2);
	padding-bottom: calc(var(--dimen-unit) * 2);
	cursor: pointer;
}

	.notify .header {
		height: 16px;
	}

		.notify .header .icon {
			font-size: 12px;
			line-height: 16px;
		}

		.notify .header .app {
			font-size: 12px;
			line-height: 16px;
			margin-left: var(--dimen-unit);
		}

	.notify .body {
		height: 32px;
		width: 100%;
		padding-top: var(--dimen-unit);
	}

		.notify .body .avatar {
			height: 24px;
			width: 24px;
		}

		.notify .body .info {
			height: 24px;
			width: calc(100% - (24px + var(--dimen-unit)));
			margin-left: var(--dimen-unit);
		}

			.notify .body .info .title {
				font-size: 12px;
				line-height: 12px;
			}

			.notify .body .info .subtitle {
				font-size: 12px;
				line-height: 12px;
			}

			.notify .body .info .time-ago {
				font-size: 12px;
				line-height: 12px;
			}